@using Web_3_Shevelenkov.Domain.Models

@model ProductListModel<Tank>

@{
    ViewData["Title"] = "Index";
}

@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Тип техники
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-categoryName="heavytanks">Тяжёлые танки</a></li>
        <li><a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-categoryName="mediumtanks">Средние танки</a></li>
        <li><a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-categoryName="lighttanks">Лёгкие танки</a></li>
        <li><a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-categoryName="ptsau">ПТ-САУ</a></li>
        <li><a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-categoryName="">Вся техника</a></li>
    </ul>
</div>

<div class="container">

    <div class="row">
        @foreach (var item in Model.Items)
        {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="@item.Path" class="card-img-top" alt="Tank Image">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Price) золота</p>
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" asp-route-returnurl="@returnUrl" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    }   
    </div>
</div>

@{
    string? category = request.RouteValues["categoryName"]?.ToString();
}

@{
    int prev = Model.CurrentPage == 1
        ? 1
        : Model.CurrentPage - 1;
    int next = Model.CurrentPage == Model.TotalPages
    ? Model.TotalPages
    : Model.CurrentPage + 1;
}

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item"> 
            <a class="page-link" asp-action="Index" asp-route-categoryName="@category" asp-route-pageNo=@prev>Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-categoryName="@category" asp-route-pageNo=1>1</a>
        </li>
        <li class="page-item" aria-current="page">
            <a class="page-link" asp-action="Index" asp-route-categoryName="@category" asp-route-pageNo=2>2</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-categoryName="@category" asp-route-pageNo=3>3</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-action="Index" asp-route-categoryName="@category" asp-route-pageNo=@next>Next</a>
        </li>
    </ul>
</nav>

